@charset "UTF-8";
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url("../fonts/bootstrap/glyphicons-halflings-regular.eot");
    src: url("../fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/bootstrap/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
* {
    padding:0;
    margin:0;
}
html{
    height: 100%;
}
body {
    height:100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857;
    color: #333333;
    background-color: #fff;
}
a{
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333333;
    height:100%;
}
div{
    display: inline;
    height:100%;
    line-height: 100%;
}
.header-wrapper{
    margin: 1px;
    margin-bottom: 0;
    overflow: hidden;
    height: 10% ;
    display: flex;
}
.devtest-header{
    height:100%;
    width:100%;
    align-items: stretch;
    overflow: hidden;
    display: flex;
    position: relative;
}
.devtest-row{
    height: 30%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left:0;
    overflow: hidden;
    align-items: stretch;
    display: flex;
}
.v5-logo{
    float: left;
    position: absolute;
    bottom: 0;
    width: 25%;
    height: 100%;
    margin-left:10%;
    padding-left:6%;
    align-items: stretch;
}
.v5-logo-img{
    height: auto;
    width: auto;
    max-height: 80%;
    max-width: 80%;
    position: relative;
}
.devtest-main-menu{
    position: absolute;
    right:0;
    bottom: 0;
    float: right;
    width: 60%;
    margin-right: 10%;
    height: 80%;
}
.devtest-menu{
    width:100%;
    position: relative;
    height: 100%;
    text-align: center;

}
.menu-item{
    margin-top:0.5%;
    padding-top:0.8%;
    padding-bottom: 0.3%;
    float: right;
    width: 10%;
    height: 50%;
    display: inline;
    position: relative;
    line-height: normal;
}
.nav-link{
    padding-top: 2%;
    text-align: center;
}
.menu-item:hover{
    background-color: #32B67A;
}

.container{
    margin: 0 10% 1% 10%;
    border-top: 1px;
    border-top-style: solid;
    border-top-color: #32B67A;
    height:80%;
    position: relative;
    display: block;
}
.devtest-img{
    width:100%;
    height:100%;
    display: block;
}
.devtest_logo{
    width: 100%;
    height:15vw;
}
.quick-link-container{
    display: block;
}
.Gateway-container{
    display: block;
}
